@page "/"
@using Models
<PageTitle>Game Catalog</PageTitle>

<table>
    <thead>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
        <th>
            Release Date
        </th>
        <th>

        </th>
    </thead>
    <tbody>

    </tbody>
</table>


@code {
    private GameSummary[] games =
    [
    new (){
Id=1,Genre="Street Fighter 2",Name
}
    ]

}